html,
body {
    height: 100%;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

#app {
    height: 100%;
    padding-top: 0px;
    margin-top: 50px;
    text-align: center;
}

.media-content {
    width: 700px;
    text-align: left;
    margin-left: 30px;
}

#app .button {
    margin-bottom: 20px;
}

#app .tweet {
    margin: 10px auto;
    padding-bottom: 15px;
}

#app .box {
    margin-bottom: 0;
    border-radius: 0;
}

#app .content small {
    color: #00d1b2;
    vertical-align: right;
}

#app img {
    border-radius: 30px;
    width: 64px;
    height: 64px;
}

#app .level-item {
    padding-left: 10px;
    color: #00d1b2;
}

#app input:focus {
    border-color: #00d1b2;
}

#app .likes {
    padding: 0 7.5px;
}

#app input {
    font-weight: bold;
}

#app .tweets-move {
    transition: transform 1s;
}